@if (auth.me.isLoading()) {
<p>Carregando...</p>
} @else if (auth.erroAoCarregarPessoa()) {
<div class="aguardando">
  <h1>Não foi possível conectar ao servidor</h1>
  <p>Verifique se a API está rodando e tente novamente.</p>
  <p-button (onClick)="auth.me.reload()">Tentar novamente</p-button>
  <p-button [text]="true" (onClick)="sair()">Sair</p-button>
</div>
} @else if (!auth.vinculado()) {
<div class="aguardando">
  <h1>Conta aguardando aprovação</h1>
  <p>Sua conta foi criada, mas ainda precisa ser liberada por um administrador.</p>
  <p-button [text]="true" (onClick)="sair()">Sair</p-button>
</div>
} @else {
<p-toolbar class="app-header">
  <ng-template pTemplate="start">
    <div class="app-marca">
      <span class="app-title">SGD</span>
      <p-menubar [model]="itensMenu" />
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="app-user">
      <span>{{ auth.pessoa()?.nome }}</span>
      <p-tag [value]="auth.pessoa()?.perfil" />
      <p-button [text]="true" icon="pi pi-sign-out" (onClick)="sair()" />
    </div>
  </ng-template>
</p-toolbar>

<main class="app-content">
  <router-outlet />
</main>
}